INSTANCE_SOCIAL_API=XXX
SWIFTY_GIPHY_API=XXX
IAP_VERIFICATION_SECRET=XXX
// without scheme!
JOIN_COMMUNITY_PAGE_URL=getmammoth.app/xxx/
CROWDIN_DISTRIBUTION_STRING=XXX
SUB_CLUB_DOMAIN=sub.club
// without scheme!
PUSH_NOTIFICATION_URL=example.com/relay-to/development/
MOTH_SOCIAL_SECRET_KEY=xxx
FOR_YOU_ENDPOINT = xxxxx
